<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.compsci408.glassrx.glassrx2014" >

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".patient.PatientMainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".patient.PatientMedListActivity"
            android:label="@string/title_activity_med_list" >
        </activity>
        <activity
            android:name=".patient.PatientMoreInfoActivity"
            android:label="@string/title_activity_more_info" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </activity>
        <service
            android:name=".patient.NextMedLiveCard"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_next_med_live_card" >
        </service>

        <activity
            android:name=".provider.ProviderPatientListActivity"
            android:icon="@drawable/ic_glass_logo"
            android:label="@string/title_activity_provider_patient_list" >
        </activity>
        <activity
            android:name="nextMed.MenuActivity2"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name=".nextMed.SetTimerActivity"
            android:enabled="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </activity>

        <service
            android:name="nextMed.TimerService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_timer"
            android:label="@string/app_name" >
        </service>

        <activity
            android:name=".patient.LiveCardMenuActivity"
            android:theme="@style/MenuTheme" />


    </application>

</manifest>
